N8N/AI_CV_CLASSIFIER__PDF___WORD_.json
{
  "name": "AI CV CLASSIFIER (PDF + WORD)",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "36799951-cc09-41d8-b8e7-6b9e94ac3cff",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        180,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eca68c79-4559-41ba-a486-48bde983c988",
              "name": "attachments",
              "value": "={{ $('Gmail').item.binary.keys() }}",
              "type": "array"
            },
            {
              "id": "d8d07952-957a-4a02-be51-f2fbf3eada40",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "06f38c4b-f1d1-4b86-8824-d21f105aac98",
      "name": "Attachments into Array",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "359f93ba-437f-4dbc-9da7-217acfd588f4",
              "leftValue": "={{ $('Gmail Trigger').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "245eba97-037a-4fba-b5c1-8e7e8c49f02f",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -680,
        400
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "message_id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "2c730d50-c505-499b-89f9-f9b6b6b279a9",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        420,
        200
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $json.attachments }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        640,
        200
      ],
      "id": "f7e8c359-adc8-4698-98f3-283f279568a1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -220,
        200
      ],
      "id": "2c11a600-782b-4ce2-9a32-448558351d6c",
      "name": "Gmail",
      "webhookId": "462f3101-598f-43a1-8ad1-fe9f39603b1c",
      "credentials": {
        "gmailOAuth2": {
          "id": "XEk7ONi49DrB1nYF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U",
          "mode": "list",
          "cachedResultName": "Jobs / CVs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        920,
        200
      ],
      "id": "7c3f6ed2-6eb3-4a4b-a5eb-bd180dedcb26",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p02PtGFkmd40xeTQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Vous êtes un expert en ressources humaines spécialisé dans l’analyse et la classification des CV.\n\nAnalysez la pertinence du CV ci-dessous par rapport à l’intitulé du poste, à sa description et à l’entreprise mentionnée.\n\nObjectif :\n1.  Déterminez si le profil est adapté au poste.\n2.  Fournissez une évaluation concise sur **une seule ligne** au format suivant, en utilisant \"|\" comme séparateur :\n\n    Nom : [Nom du candidat] | Email : [email] | Téléphone : [téléphone] | Ville : [ville] | Niveau d’études : [ex : Bac+3, Bac+5…] | **Niveau d’expérience : [Total des mois d’expérience calculé]** | Pourcentage d’adéquation : [0 à 100 %] | Commentaire : [Justification en français avec les points forts / points faibles / manques éventuels]\n\n3.  Si une information spécifique (Nom, Email, Téléphone, Ville, Niveau d’études) est **totalement absente** du texte du CV, indiquez \"Non renseigné\" **uniquement** pour ce champ spécifique.\n4.  **TRÈS IMPORTANT : Le champ \"Niveau d’expérience\" DOIT être calculé.** Vous devez **impérativement additionner la durée en mois de TOUTES les expériences listées dans la section \"EXPERIENCES PROFESSIONNELLE\" du CV.**\n    *   Calculez la durée de chaque expérience individuelle en mois (par exemple, 07/2023 - 09/2023 = 3 mois).\n    *   Additionnez toutes ces durées pour obtenir le total en mois.\n    *   **Incluez TOUTES les expériences listées (stages, emplois, etc.) dans ce calcul, même si elles ne sont pas directement pertinentes pour le poste visé.**\n    *   Le résultat doit être un nombre suivi du mot \"mois\" (ex : \"15 mois\").\n    *   **N'écrivez PAS \"Non renseigné\" pour le niveau d'expérience**, sauf si la section \"EXPERIENCES PROFESSIONNELLE\" est totalement vide ou absente du CV. Si aucune expérience n'est listée, indiquez \"0 mois\".\n\nIntitulé du poste : {{ $json.Titre }}  \nDescription du poste : {{ $json.Description }}  \nEntreprise : {{ $json.Entreprise }}\n\nTexte du CV du candidat :  \n{{ $('Extract from File').item.json.text }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1180,
        200
      ],
      "id": "a68dcb59-c524-49e6-90a0-6b48cd0d40c8",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1180,
        420
      ],
      "id": "baa58262-3e72-4fc5-abc0-cc98daed9b9d",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "6XdPFHBlOEW9wzO8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "includeSpamTrash": true
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1020,
        400
      ],
      "id": "dfb7acb5-065e-4c04-b433-0387629fb86a",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "XEk7ONi49DrB1nYF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert HR resume classifier. Review the resume text provided below and complete the following tasks:\n\nExtract the Candidate’s Name: Identify the candidate's full name from the resume text.\n\n\n\nFormat the Output: Return your result in this exact format:\n25 CV [Candidate Name]\nFor example:\n'25 CV John Doe'\n\nResume Text:\n{{ $('Extract from File').item.json.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1720,
        200
      ],
      "id": "2ff4ea27-d9ed-478a-a20a-9e78d2fd25c6",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1760,
        420
      ],
      "id": "38c104af-45e9-4720-8c11-c9e566f266b4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6XdPFHBlOEW9wzO8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  // Get the text from the LLM response\n  const text = $input.first().json.text;\n\n  // Basic validation\n  if (!text || typeof text !== 'string') {\n    console.error(\"Missing or invalid LLM output text:\", text);\n    // Return an object indicating the error, adjust as needed\n    return { json: { error: \"Texte LLM manquant ou invalide\" } };\n  }\n\n  // Initialize an object to store the parsed data\n  const parsedData = {};\n  // Define expected keys based on your prompt (lowercase for matching)\n  // Use lowercase versions for robust matching, handle apostrophe variations\n  const keyMap = {\n      'nom': 'Nom',\n      'email': 'Email',\n      'téléphone': 'Téléphone',\n      'ville': 'Ville',\n      \"niveau d'études\": \"Niveau d’études\", // LLM might use ' or ’\n      \"niveau d’expérience\": \"Niveau d’expérience\", // LLM might use ' or ’\n      \"pourcentage d'adéquation\": \"Pourcentage d’adéquation\", // LLM might use ' or ’\n      'commentaire': 'Commentaire'\n  };\n  // Add alternate apostrophe spellings to the map pointing to the same target\n  keyMap[\"niveau d’études\"] = \"Niveau d’études\";\n  keyMap[\"niveau d’expérience\"] = \"Niveau d’expérience\";\n  keyMap[\"pourcentage d’adéquation\"] = \"Pourcentage d’adéquation\";\n\n\n  // Split the text into potential field sections based on \" | \"\n  const allStringParts = text.split(\" | \");\n\n  // Process each part\n  allStringParts.forEach((part, index) => {\n    const trimmedPart = part.trim();\n    if (!trimmedPart) return; // Skip empty parts if \" | | \" occurs\n\n    const separatorIndex = trimmedPart.indexOf(\" : \");\n\n    if (separatorIndex !== -1) {\n      // Found \" : \", so treat it as a key-value pair\n      let key = trimmedPart.substring(0, separatorIndex).trim().toLowerCase();\n      const value = trimmedPart.substring(separatorIndex + 3).trim(); // +3 to skip \" : \"\n\n      // Normalize different apostrophes in the key for matching\n      key = key.replace(/’/g, \"'\");\n\n      // Use the mapped key if available, otherwise keep the original (lowercase)\n      const outputKey = keyMap[key] || key; // Fallback to the extracted key if not in map\n      parsedData[outputKey] = value;\n\n    } else if (index === 0 && !parsedData['Nom']) {\n       // Did NOT find \" : \" AND it's the very first part AND \"Nom\" hasn't been set explicitly yet\n       // Assume this first part IS the name.\n       parsedData['Nom'] = trimmedPart;\n    }\n    // Ignore parts without \" : \" if they are not the first one, or if name already found\n  });\n\n  // Ensure all expected fields exist, setting default if missing\n  const finalOutput = {};\n  const expectedOutputKeys = [\n      'Nom', 'Email', 'Téléphone', 'Ville',\n      'Niveau d’études', 'Niveau d’expérience',\n      'Pourcentage d’adéquation', 'Commentaire'\n  ];\n\n  expectedOutputKeys.forEach(key => {\n      finalOutput[key] = parsedData[key] || \"Non renseigné\";\n  });\n\n  // Return the structured data\n  return {\n    json: finalOutput\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        200
      ],
      "id": "8e2e3da4-2b08-416a-9f56-0d5a2d5ca39b",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6a4fbec-40d7-488d-bd90-a6425904f54a",
              "leftValue": "={{ $('Filter').item.binary.attachment_0.fileExtension }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -460,
        400
      ],
      "id": "1134aee0-1389-4cce-923e-632e12ee03a1",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -200,
        600
      ],
      "id": "6ca46fb7-369d-47d3-ab68-369a77d57d1b",
      "name": "Gmail1",
      "webhookId": "462f3101-598f-43a1-8ad1-fe9f39603b1c",
      "credentials": {
        "gmailOAuth2": {
          "id": "XEk7ONi49DrB1nYF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eca68c79-4559-41ba-a486-48bde983c988",
              "name": "attachments",
              "value": "={{ $('Gmail1').item.binary.keys() }}",
              "type": "array"
            },
            {
              "id": "d8d07952-957a-4a02-be51-f2fbf3eada40",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8c83ab7a-93ab-4ded-8063-c47b2bd13892",
      "name": "Attachments into Array1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        420
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "cfab0fa7-3e7d-46f9-9adf-66735725ec19",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        200,
        420
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "message_id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "38e2f8e8-d086-4b7c-bc14-b16dfee0b0be",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        440,
        700
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert HR resume classifier with a focus on evaluating professional experience. Your task is to thoroughly review the provided resume text and calculate the total number of months of professional experience listed within the resume. Follow these steps to complete the task:\n\nTask Overview:\nExtract the Relevant Job Experience:\n\nIdentify the positions listed within the resume.\n\nLook for the start and end dates of each job or the current employment status if the person is still employed.\n\nCapture the job title, company name, and dates.\n\nCalculate the Duration for Each Job:\n\nFor each job, calculate the number of months between the start date and the end date. If the person is currently employed, use the current date to determine the end date.\n\nIf the start or end date includes a specific day, ignore the days and focus on the months and years.\n\nIf only the month and year are provided, calculate the number of months between the two dates.\n\nSum the Total Months of Experience:\n\nAfter calculating the duration of each job in months, add up all the durations to get the total number of months of professional experience across all jobs.\n\nProvide a Clear Summary:\n\nAfter completing the calculations, summarize the total number of months of experience in a simple and clear format like \"41 months.\"\n\nImportant Note :  dont include intership or stage in the expereince when calculating it, only professional job experience.\nExample:\nGiven a resume text like this:\n\n1. Software Engineer, XYZ Corp (March 2020 - December 2022)\n   - Developed and implemented new features for the company's main product.\n\n2. Junior Developer, ABC Solutions (January 2018 - February 2020)\n   - Assisted in coding and maintaining software systems for clients.\n\n3. Intern, Tech Innovations (June 2017 - August 2017)\n   - Supported senior developers with project tasks and bug fixing.\nSteps to Follow:\n\nFor Job 1 (XYZ Corp):\n\nStart date: March 2020\n\nEnd date: December 2022\n\nDuration: From March 2020 to December 2022 → 33 months\n\nFor Job 2 (ABC Solutions):\n\nStart date: January 2018\n\nEnd date: February 2020\n\nDuration: From January 2018 to February 2020 → 25 months\n\nFor Job 3 (Tech Innovations):\n\nStart date: June 2017\n\nEnd date: August 2017\n\nDuration: From June 2017 to August 2017 → 3 months\n\nTotal Experience Calculation:\nTotal months of experience = 33 months (Job 1) + 25 months (Job 2) + 3 months (Job 3) = 61 months of experience.\n\nResume Text to Analyze:\n{{ $('Extract from File').item.json.text }}\n\nThe output should be in the following format:\nX Mois"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2060,
        200
      ],
      "id": "6c522d82-5e94-4f4f-a2f6-e101ede41301",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2140,
        420
      ],
      "id": "1b010ba3-4d2f-4bd5-a895-71b6ef7501ea",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "6XdPFHBlOEW9wzO8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Assuming the data is passed as input to the node\nconst responseText = $input.first().json.text ;\n\n// Regex pattern to match all occurrences of months (e.g., \"38 mois\", \"22 mois\", etc.)\nconst regex = /\\b(\\d+)\\s*(mois|months)\\b/g;\n\n// Initialize an array to store all matches\nlet match;\nlet lastMatch = null;\n\n// Iterate over all matches and store the last one\nwhile ((match = regex.exec(responseText)) !== null) {\n  lastMatch = match[1]; // This will capture the number of months (e.g., 38)\n}\n\n// If a last match was found, return it; otherwise, return an error\nif (lastMatch !== null) {\n  return { json: { totalMonths: `${lastMatch} mois` } };\n} else {\n  return { json: { error: \"Total months not found in the response text\" } };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        200
      ],
      "id": "f2bae1e0-d467-47bd-ab4f-8e7c037e3a9e",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "const mammoth = require(\"mammoth\");\n\n// Step 1: Check if binary data exists at all\nif (!items[0].binary) {\n  throw new Error(\"No binary data found in input.\");\n}\n\n// Step 2: List all binary keys (e.g. attachment_0, resume.docx, etc.)\nconst binaryKeys = Object.keys(items[0].binary);\nif (binaryKeys.length === 0) {\n  throw new Error(\"No binary attachments found in 'items[0].binary'\");\n}\n\n// Step 3: Use the first available binary key\nconst key = binaryKeys[0];\nconst binaryItem = items[0].binary[key];\n\n// Step 4: Check if `.data` exists in the binary item\nif (!binaryItem.data) {\n  throw new Error(`Binary item '${key}' does not contain 'data'.`);\n}\n\n// Step 5: Convert base64 string to buffer\nconst buffer = Buffer.from(binaryItem.data, 'base64');\n\n// Step 6: Extract text using mammoth\nreturn mammoth.extractRawText({ buffer }).then(result => {\n  return [\n    {\n      json: {\n        text: result.value\n      }\n    }\n  ];\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        700
      ],
      "id": "4aea5d4f-d10a-4a3b-9551-ede43948bf8c",
      "name": "Read Docx"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U",
          "mode": "list",
          "cachedResultName": "Jobs / CVs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        900,
        700
      ],
      "id": "b1167f1a-9fd3-499b-bcc3-9eef75e777f5",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p02PtGFkmd40xeTQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Vous êtes un expert en ressources humaines spécialisé dans l’analyse et la classification des CV.\n\nAnalysez la pertinence du CV ci-dessous par rapport à l’intitulé du poste, à sa description et à l’entreprise mentionnée.\n\nObjectif :\n1.  Déterminez si le profil est adapté au poste.\n2.  Fournissez une évaluation concise sur **une seule ligne** au format suivant, en utilisant \"|\" comme séparateur :\n\n    Nom : [Nom du candidat] | Email : [email] | Téléphone : [téléphone] | Ville : [ville] | Niveau d’études : [ex : Bac+3, Bac+5…] | **Niveau d’expérience : [Total des mois d’expérience calculé]** | Pourcentage d’adéquation : [0 à 100 %] | Commentaire : [Justification en français avec les points forts / points faibles / manques éventuels]\n\n3.  Si une information spécifique (Nom, Email, Téléphone, Ville, Niveau d’études) est **totalement absente** du texte du CV, indiquez \"Non renseigné\" **uniquement** pour ce champ spécifique.\n4.  **TRÈS IMPORTANT : Le champ \"Niveau d’expérience\" DOIT être calculé.** Vous devez **impérativement additionner la durée en mois de TOUTES les expériences listées dans la section \"EXPERIENCES PROFESSIONNELLE\" du CV.**\n    *   Calculez la durée de chaque expérience individuelle en mois (par exemple, 07/2023 - 09/2023 = 3 mois).\n    *   Additionnez toutes ces durées pour obtenir le total en mois.\n    *   **Incluez TOUTES les expériences listées (stages, emplois, etc.) dans ce calcul, même si elles ne sont pas directement pertinentes pour le poste visé.**\n    *   Le résultat doit être un nombre suivi du mot \"mois\" (ex : \"15 mois\").\n    *   **N'écrivez PAS \"Non renseigné\" pour le niveau d'expérience**, sauf si la section \"EXPERIENCES PROFESSIONNELLE\" est totalement vide ou absente du CV. Si aucune expérience n'est listée, indiquez \"0 mois\".\n\nIntitulé du poste : {{ $json.Titre }}  \nDescription du poste : {{ $json.Description }}  \nEntreprise : {{ $json.Entreprise }}\n\nTexte du CV du candidat :  \n{{ $('Read Docx').item.json.text }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1180,
        700
      ],
      "id": "6177e713-b9a4-4a76-bbaa-88396a45c655",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1100,
        920
      ],
      "id": "ff6276ed-192f-4022-9455-4628f885c62b",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "6XdPFHBlOEW9wzO8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert HR resume classifier. Review the resume text provided below and complete the following tasks:\n\nExtract the Candidate’s Name: Identify the candidate's full name from the resume text.\n\n\n\nFormat the Output: Return your result in this exact format:\n25 CV [Candidate Name]\nFor example:\n'25 CV John Doe'\n\nResume Text:\n{{ $('Read Docx').item.json.text }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1720,
        700
      ],
      "id": "f628a54c-ead7-4400-88c7-30c7051b7cff",
      "name": "Basic LLM Chain4"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1700,
        920
      ],
      "id": "d6592ecc-34fc-43e9-bccf-e79307d08729",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "6XdPFHBlOEW9wzO8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  // Get the text from the LLM response\n  const text = $input.first().json.text;\n\n  // Basic validation\n  if (!text || typeof text !== 'string') {\n    console.error(\"Missing or invalid LLM output text:\", text);\n    // Return an object indicating the error, adjust as needed\n    return { json: { error: \"Texte LLM manquant ou invalide\" } };\n  }\n\n  // Initialize an object to store the parsed data\n  const parsedData = {};\n  // Define expected keys based on your prompt (lowercase for matching)\n  // Use lowercase versions for robust matching, handle apostrophe variations\n  const keyMap = {\n      'nom': 'Nom',\n      'email': 'Email',\n      'téléphone': 'Téléphone',\n      'ville': 'Ville',\n      \"niveau d'études\": \"Niveau d’études\", // LLM might use ' or ’\n      \"niveau d’expérience\": \"Niveau d’expérience\", // LLM might use ' or ’\n      \"pourcentage d'adéquation\": \"Pourcentage d’adéquation\", // LLM might use ' or ’\n      'commentaire': 'Commentaire'\n  };\n  // Add alternate apostrophe spellings to the map pointing to the same target\n  keyMap[\"niveau d’études\"] = \"Niveau d’études\";\n  keyMap[\"niveau d’expérience\"] = \"Niveau d’expérience\";\n  keyMap[\"pourcentage d’adéquation\"] = \"Pourcentage d’adéquation\";\n\n\n  // Split the text into potential field sections based on \" | \"\n  const allStringParts = text.split(\" | \");\n\n  // Process each part\n  allStringParts.forEach((part, index) => {\n    const trimmedPart = part.trim();\n    if (!trimmedPart) return; // Skip empty parts if \" | | \" occurs\n\n    const separatorIndex = trimmedPart.indexOf(\" : \");\n\n    if (separatorIndex !== -1) {\n      // Found \" : \", so treat it as a key-value pair\n      let key = trimmedPart.substring(0, separatorIndex).trim().toLowerCase();\n      const value = trimmedPart.substring(separatorIndex + 3).trim(); // +3 to skip \" : \"\n\n      // Normalize different apostrophes in the key for matching\n      key = key.replace(/’/g, \"'\");\n\n      // Use the mapped key if available, otherwise keep the original (lowercase)\n      const outputKey = keyMap[key] || key; // Fallback to the extracted key if not in map\n      parsedData[outputKey] = value;\n\n    } else if (index === 0 && !parsedData['Nom']) {\n       // Did NOT find \" : \" AND it's the very first part AND \"Nom\" hasn't been set explicitly yet\n       // Assume this first part IS the name.\n       parsedData['Nom'] = trimmedPart;\n    }\n    // Ignore parts without \" : \" if they are not the first one, or if name already found\n  });\n\n  // Ensure all expected fields exist, setting default if missing\n  const finalOutput = {};\n  const expectedOutputKeys = [\n      'Nom', 'Email', 'Téléphone', 'Ville',\n      'Niveau d’études', 'Niveau d’expérience',\n      'Pourcentage d’adéquation', 'Commentaire'\n  ];\n\n  expectedOutputKeys.forEach(key => {\n      finalOutput[key] = parsedData[key] || \"Non renseigné\";\n  });\n\n  // Return the structured data\n  return {\n    json: finalOutput\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        700
      ],
      "id": "26213bce-28d1-4dea-84a9-1c48cc2602ed",
      "name": "Code2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert HR resume classifier with a focus on evaluating professional experience. Your task is to thoroughly review the provided resume text and calculate the total number of months of professional experience listed within the resume. Follow these steps to complete the task:\n\nTask Overview:\nExtract the Relevant Job Experience:\n\nIdentify the positions listed within the resume.\n\nLook for the start and end dates of each job or the current employment status if the person is still employed.\n\nCapture the job title, company name, and dates.\n\nCalculate the Duration for Each Job:\n\nFor each job, calculate the number of months between the start date and the end date. If the person is currently employed, use the current date to determine the end date.\n\nIf the start or end date includes a specific day, ignore the days and focus on the months and years.\n\nIf only the month and year are provided, calculate the number of months between the two dates.\n\nSum the Total Months of Experience:\n\nAfter calculating the duration of each job in months, add up all the durations to get the total number of months of professional experience across all jobs.\n\nProvide a Clear Summary:\n\nAfter completing the calculations, summarize the total number of months of experience in a simple and clear format like \"41 months.\"\n\nImportant Note :  dont include intership or stage in the expereince when calculating it, only professional job experience.\nExample:\nGiven a resume text like this:\n\n1. Software Engineer, XYZ Corp (March 2020 - December 2022)\n   - Developed and implemented new features for the company's main product.\n\n2. Junior Developer, ABC Solutions (January 2018 - February 2020)\n   - Assisted in coding and maintaining software systems for clients.\n\n3. Intern, Tech Innovations (June 2017 - August 2017)\n   - Supported senior developers with project tasks and bug fixing.\nSteps to Follow:\n\nFor Job 1 (XYZ Corp):\n\nStart date: March 2020\n\nEnd date: December 2022\n\nDuration: From March 2020 to December 2022 → 33 months\n\nFor Job 2 (ABC Solutions):\n\nStart date: January 2018\n\nEnd date: February 2020\n\nDuration: From January 2018 to February 2020 → 25 months\n\nFor Job 3 (Tech Innovations):\n\nStart date: June 2017\n\nEnd date: August 2017\n\nDuration: From June 2017 to August 2017 → 3 months\n\nTotal Experience Calculation:\nTotal months of experience = 33 months (Job 1) + 25 months (Job 2) + 3 months (Job 3) = 61 months of experience.\n\nResume Text to Analyze:\n{{ $('Read Docx').item.json.text }}\n\n\nThe output should be in the following format:\nX Mois"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2060,
        700
      ],
      "id": "0c4dbf0b-48c5-4d94-9d1d-ca34453455c1",
      "name": "Basic LLM Chain5"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2020,
        900
      ],
      "id": "81225963-df25-4f63-96cf-a87b6632e79b",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "6XdPFHBlOEW9wzO8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Assuming the data is passed as input to the node\nconst responseText = $input.first().json.text ;\n\n// Regex pattern to match all occurrences of months (e.g., \"38 mois\", \"22 mois\", etc.)\nconst regex = /\\b(\\d+)\\s*(mois|months)\\b/g;\n\n// Initialize an array to store all matches\nlet match;\nlet lastMatch = null;\n\n// Iterate over all matches and store the last one\nwhile ((match = regex.exec(responseText)) !== null) {\n  lastMatch = match[1]; // This will capture the number of months (e.g., 38)\n}\n\n// If a last match was found, return it; otherwise, return an error\nif (lastMatch !== null) {\n  return { json: { totalMonths: `${lastMatch} mois` } };\n} else {\n  return { json: { error: \"Total months not found in the response text\" } };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        700
      ],
      "id": "782af379-2acc-4311-89f6-7d19a2981d4a",
      "name": "Code3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5852bcc9-3974-4a17-a8b0-54e228d857b3",
              "leftValue": "={{ $json.pourcentage_numeric }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2860,
        200
      ],
      "id": "af556a79-435a-4425-b0de-975ffe1ff5f0",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Get the 'Pourcentage d’adéquation' from the first item\nconst pourcentageStr = $('Code').first().json['Pourcentage d’adéquation'] || '';\n\n// Clean it up: remove % and whitespace, then convert to number using parseFloat\nconst numericPourcentage = parseFloat(pourcentageStr.replace('%', '').trim());\n\n// Return the cleaned-up value as a number\nreturn {\n  json: {\n    pourcentage_numeric: numericPourcentage\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        200
      ],
      "id": "b231fdff-fd8f-4214-b57d-a058dc44a8d3",
      "name": "Code4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5852bcc9-3974-4a17-a8b0-54e228d857b3",
              "leftValue": "={{ $json.pourcentage_numeric }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2900,
        700
      ],
      "id": "e972ecd9-fa28-4210-8688-7ff14b4f368c",
      "name": "If2"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ 'attachment_0' }}",
        "name": "={{ $('Basic LLM Chain4').item.json.text }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1tOMp9C3rH_dU-Vxwkk6oE_FgWdkeKyNY",
          "mode": "list",
          "cachedResultName": "Moins de 70%",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tOMp9C3rH_dU-Vxwkk6oE_FgWdkeKyNY"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3400,
        860
      ],
      "id": "b974b5ae-858f-4367-bda1-b1ce3d763322",
      "name": "Google Drive5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "55o0R1wwHgXVB0UZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U",
          "mode": "list",
          "cachedResultName": "Jobs / CVs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 86556151,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U/edit#gid=86556151"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom": "={{ $('Code2').item.json.Nom }}",
            "Ville": "={{ $('Code2').item.json.Ville }}",
            "Téléphone": "={{ \"'\"+$('Code2').item.json[\"Téléphone\"] }}",
            "Email": "={{ $('Code2').item.json.Email }}",
            "Pourcentage": "={{ $('Code2').item.json['Pourcentage d’adéquation'] }}",
            "Emploi": "={{ $('Google Sheets2').item.json.Titre }}",
            "CV": "={{ $json.webViewLink }}",
            "Etude": "={{ $('Code2').item.json['Niveau d’études'] }}",
            "Experience": "={{ $('Code3').item.json.totalMonths }}",
            "Commentaire": "={{ $('Code2').item.json.Commentaire }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emploi",
              "displayName": "Emploi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ville",
              "displayName": "Ville",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Etude",
              "displayName": "Etude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pourcentage",
              "displayName": "Pourcentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Commentaire",
              "displayName": "Commentaire",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3580,
        860
      ],
      "id": "c173b4d7-eed1-4a4c-83cf-6bd094c465de",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p02PtGFkmd40xeTQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the 'Pourcentage d’adéquation' from the first item\nconst pourcentageStr =  $('Code2').first().json['Pourcentage d’adéquation']|| '';\n\n// Clean it up: remove % and whitespace, then convert to number using parseFloat\nconst numericPourcentage = parseFloat(pourcentageStr.replace('%', '').trim());\n\n// Return the cleaned-up value as a number\nreturn {\n  json: {\n    pourcentage_numeric: numericPourcentage\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        700
      ],
      "id": "c4cfa3a8-4429-4ea7-b581-5e1a63347112",
      "name": "Code5"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3220,
        860
      ],
      "id": "60ad270b-874c-4ade-a331-6a8d36edd713",
      "name": "Gmail2",
      "webhookId": "462f3101-598f-43a1-8ad1-fe9f39603b1c",
      "credentials": {
        "gmailOAuth2": {
          "id": "XEk7ONi49DrB1nYF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ 'attachment_0' }}",
        "name": "={{ $('Basic LLM Chain4').item.json.text }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1X2hOJ_ut2HAXmGkHcGVeYH_ZeNTqDixH",
          "mode": "list",
          "cachedResultName": "Plus de 70%",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1X2hOJ_ut2HAXmGkHcGVeYH_ZeNTqDixH"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3400,
        600
      ],
      "id": "774b3d5d-b8ab-4b83-b56b-8c2d5ea2932c",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "55o0R1wwHgXVB0UZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U",
          "mode": "list",
          "cachedResultName": "Jobs / CVs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 86556151,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U/edit#gid=86556151"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom": "={{ $('Code2').item.json.Nom }}",
            "Ville": "={{ $('Code2').item.json.Ville }}",
            "Téléphone": "={{ \"'\"+$('Code2').item.json[\"Téléphone\"] }}",
            "Email": "={{ $('Code2').item.json.Email }}",
            "Pourcentage": "={{ $('Code2').item.json['Pourcentage d’adéquation'] }}",
            "Emploi": "={{ $('Google Sheets2').item.json.Titre }}",
            "CV": "={{ $json.webViewLink }}",
            "Etude": "={{ $('Code2').item.json['Niveau d’études'] }}",
            "Experience": "={{ $('Code3').item.json.totalMonths }}",
            "Commentaire": "={{ $('Code2').item.json.Commentaire }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emploi",
              "displayName": "Emploi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ville",
              "displayName": "Ville",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Etude",
              "displayName": "Etude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pourcentage",
              "displayName": "Pourcentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Commentaire",
              "displayName": "Commentaire",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3580,
        600
      ],
      "id": "b4b98b05-8f53-467a-9ea6-75413061f4a0",
      "name": "Google Sheets6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p02PtGFkmd40xeTQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3220,
        600
      ],
      "id": "7b2f1768-a312-4b5a-bd52-9c5bec4c74ae",
      "name": "Gmail3",
      "webhookId": "462f3101-598f-43a1-8ad1-fe9f39603b1c",
      "credentials": {
        "gmailOAuth2": {
          "id": "XEk7ONi49DrB1nYF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ 'attachment_0' }}",
        "name": "={{ $('Basic LLM Chain1').item.json.text }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1X2hOJ_ut2HAXmGkHcGVeYH_ZeNTqDixH",
          "mode": "list",
          "cachedResultName": "Plus de 70%",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1X2hOJ_ut2HAXmGkHcGVeYH_ZeNTqDixH"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3300,
        140
      ],
      "id": "9616ec27-24c5-4391-9884-60a922bc0f72",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "55o0R1wwHgXVB0UZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3120,
        140
      ],
      "id": "fb04b479-ed95-4850-a5a6-e48687cf2cf3",
      "name": "Gmail6",
      "webhookId": "462f3101-598f-43a1-8ad1-fe9f39603b1c",
      "credentials": {
        "gmailOAuth2": {
          "id": "XEk7ONi49DrB1nYF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ 'attachment_0' }}",
        "name": "={{ $('Basic LLM Chain1').item.json.text }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1tOMp9C3rH_dU-Vxwkk6oE_FgWdkeKyNY",
          "mode": "list",
          "cachedResultName": "Moins de 70%",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tOMp9C3rH_dU-Vxwkk6oE_FgWdkeKyNY"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3300,
        360
      ],
      "id": "576edd3b-7bcd-400c-96ed-a0ca08671df2",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "55o0R1wwHgXVB0UZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U",
          "mode": "list",
          "cachedResultName": "Jobs / CVs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 86556151,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U/edit#gid=86556151"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom": "={{ $('Code').item.json.Nom }}",
            "Ville": "={{ $('Code').item.json.Ville }}",
            "Téléphone": "={{ \"'\"+$('Code').item.json[\"Téléphone\"] }}",
            "Email": "={{ $('Code').item.json.Email }}",
            "Pourcentage": "={{ $('Code').item.json['Pourcentage d’adéquation'] }}",
            "Emploi": "={{ $('Google Sheets').item.json.Titre }}",
            "CV": "={{ $json.webViewLink }}",
            "Etude": "={{ $('Code').item.json['Niveau d’études'] }}",
            "Experience": "={{ $('Code1').item.json.totalMonths }}",
            "Commentaire": "={{ $('Code').item.json.Commentaire }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emploi",
              "displayName": "Emploi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ville",
              "displayName": "Ville",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Etude",
              "displayName": "Etude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pourcentage",
              "displayName": "Pourcentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Commentaire",
              "displayName": "Commentaire",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3480,
        360
      ],
      "id": "e0a055a0-61be-45ba-a2bc-392b64d81183",
      "name": "Google Sheets8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p02PtGFkmd40xeTQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3120,
        360
      ],
      "id": "0b88aff9-7c8d-4b2e-b373-8d865aea6c11",
      "name": "Gmail7",
      "webhookId": "462f3101-598f-43a1-8ad1-fe9f39603b1c",
      "credentials": {
        "gmailOAuth2": {
          "id": "XEk7ONi49DrB1nYF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U",
          "mode": "list",
          "cachedResultName": "Jobs / CVs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 86556151,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i4RDVLO7rhQtxbahh6hJv7w4NJdBLd5SEHELkkTCS-U/edit#gid=86556151"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom": "={{ $('Code').item.json.Nom }}",
            "Ville": "={{ $('Code').item.json.Ville }}",
            "Téléphone": "={{ \"'\"+$('Code').item.json[\"Téléphone\"] }}",
            "Email": "={{ $('Code').item.json.Email }}",
            "Pourcentage": "={{ $('Code').item.json['Pourcentage d’adéquation'] }}",
            "Emploi": "={{ $('Google Sheets').item.json.Titre }}",
            "CV": "={{ $json.webViewLink }}",
            "Etude": "={{ $('Code').item.json['Niveau d’études'] }}",
            "Experience": "={{ $('Code1').item.json.totalMonths }}",
            "Commentaire": "={{ $('Code').item.json.Commentaire }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emploi",
              "displayName": "Emploi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ville",
              "displayName": "Ville",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Etude",
              "displayName": "Etude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pourcentage",
              "displayName": "Pourcentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Commentaire",
              "displayName": "Commentaire",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3480,
        140
      ],
      "id": "ea5cc597-46f0-4696-9dd5-237c03178d26",
      "name": "Google Sheets9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p02PtGFkmd40xeTQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "# FILTRE : WORD | PDF",
        "height": 220,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        320
      ],
      "id": "9b7d0369-4692-4632-b7d0-e66b8fb25780",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# EXTRAIRE PDF",
        "height": 220,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        360,
        140
      ],
      "id": "e4f999ba-6f94-4036-9faf-95e6270678be",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# EXTRAIRE WORD",
        "height": 220,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        640
      ],
      "id": "eb24c15b-be72-4ba0-a5c1-a907c9c75f12",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# EXTRAIRE WORD :\n\n### Cette fonction c'est sauf pour n8n local et non pas au n8n en ligne\n\n\n1. Installer Node js (google)\n\n2.npm install moment dans votre CMD\n3. set NODE_FUNCTION_ALLOW_EXTERNAL=*  (dans votre cmd)\n\n\nplus Info :\nhttps://chatgpt.com/share/6808086c-6d10-8005-821e-766bbd4efb67\n",
        "height": 340,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        900
      ],
      "id": "0a9d2952-cf8d-43e0-9e70-215753db5f50",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# PRENDRE L'OFFRE",
        "height": 220,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        140
      ],
      "id": "a41b8575-7789-4e07-8426-de7d077960af",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# PRENDRE L'OFFRE",
        "height": 220,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        640
      ],
      "id": "1a52bd48-30ef-41c5-90af-696f93660411",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# EXTRAIRE INFO DU CV",
        "height": 220,
        "width": 540,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1160,
        140
      ],
      "id": "95547413-aafe-4c91-b5d6-26fee639bbbe",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# EXTRAIRE INFO DU CV",
        "height": 220,
        "width": 540,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1160,
        640
      ],
      "id": "97986426-6991-4000-bc7a-ec29afacac32",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# CHANGER NOM",
        "height": 220,
        "width": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1700,
        140
      ],
      "id": "73545b80-54e6-4eab-971a-181a430b3d71",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# CALCUL EXP",
        "height": 220,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2040,
        140
      ],
      "id": "2055a033-a875-4d65-97c2-8f1affd393b4",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# CHANGER NOM",
        "height": 220,
        "width": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1700,
        640
      ],
      "id": "26c83f55-4337-4ed9-86ea-7a882c2cf9cd",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# CALCUL EXP",
        "height": 220,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2040,
        640
      ],
      "id": "14c09ebd-4f53-4dcb-b596-49156a739c23",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "# PLUS DE 70%",
        "height": 220,
        "width": 580,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3100,
        60
      ],
      "id": "61744401-d1e2-49c2-a72f-e94160481903",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "# MOINS DE 70%",
        "height": 220,
        "width": 580,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3100,
        300
      ],
      "id": "81945864-2c97-4dac-9e07-e618d6ae0b2c",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "# PLUS DE 70%",
        "height": 220,
        "width": 580,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3200,
        540
      ],
      "id": "17ffe6a5-3a69-48de-bc81-d1a95ae2d72f",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "# MOINS DE 70%",
        "height": 220,
        "width": 580,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3200,
        800
      ],
      "id": "db880ed4-7a82-4344-b936-4878226c1b8e",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "# CONVERT TO NUMBER",
        "height": 220,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2580,
        140
      ],
      "id": "c9b2d844-ae11-4ef4-98b3-f82aac3368e2",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "# CONVERT TO NUMBER",
        "height": 220,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2620,
        640
      ],
      "id": "c3fc00ce-4e36-4a0f-80ab-b011eaa413ad",
      "name": "Sticky Note17"
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachments into Array": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Attachments into Array",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Attachments into Array1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Attachments into Array1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Read Docx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain4": {
      "main": [
        [
          {
            "node": "Basic LLM Chain5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain5": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Docx": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Gmail6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive5": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "main": [
        [
          {
            "node": "Google Drive5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail3": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail6": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail7": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ee45b74d-3856-4292-a1e3-d27c24b87244",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c77398bd088a7956caeeb27d0cb0919e68ffd042e9069aabe2445875c8cda7d"
  },
  "id": "qmzHLpHK3yEhgRpb",
  "tags": []
}